html {
    width: 262px;
}

body {
    margin: 0 !important;
    background-color: #ffffff;
    font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system, system-ui, Roboto, "Helvetica Neue",
        sans-serif;
    color: #201f1e;
    font-size: 12px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 262px;
}

*:focus {
    outline: none;
}

.ebx-focus-visible *:focus {
    outline: 2px solid black;
}

button {
    cursor: pointer;
}

button:disabled {
    color: #605e5c;
    cursor: auto;
}

/* Make all the containing divs expand to the full size of body */
main {
    width: 100%;
    height: 100%;
}

/* Make all the containing divs expand to the full size of body */
.main_view {
    width: 100%;
    height: 100%;
}

/* Make all the containing divs expand to the full size of body */
.popup_view {
    width: 100%;
    height: 100%;
}

/* Need to to support ng-hide & ng-show directives */
.ng-hide {
    display: none !important;
}

/* Used to fade out underlying UI (e.g. MRU) while displaying menus */
.fading_panel {
    background-color: rgb(72, 70, 68, 0.2);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: opacity 200ms ease-in-out, z-index 200ms ease-in-out;
    z-index: -1;
}

.fading_panel.visible {
    opacity: 1;
    transition: opacity 200ms ease-in-out;
    z-index: 20;
    /* Greater than the MRU, but less than ribbon and menus */
}

.menu_collapse {
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    font-size: 12px;
}

.menu_collapse:hover {
    color: #0078d7;
}

.checkbox_group {
    padding: 3px 17px 3px 20px;
    text-align: left;
    display: flex;
}

.ms-CheckBox .ms-Label {
    font-size: 12px;
    line-height: 16px;
}

.ms-CheckBox-field:focus {
    outline: 2px solid #a6c7ff;
}

.ms-CheckBox-field.in-focus.is-checked::before {
    border-color: #0078d4;
}

.ms-CheckBox-field.is-checked::before {
    border: 10px solid #0078d4;
    background-color: #0078d4;
}

.ms-CheckBox-field.is-checked:hover::before,
.ms-CheckBox-field.is-checked:focus::before {
    border-color: #0078d4;
}

a {
    text-decoration: none;
}

.box {
    position: relative;
    display: inline-block;
    border-radius: 18px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
    content: "";
    border-radius: 18px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* .box:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
} */

.box:hover::after {
    opacity: 1;
}

.box_expand {
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

/* .box_expand:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
} */

.login_view {
    padding: 0 8px 18px 8px;
    text-align: center;
}

.editor_login_icon {
    margin: 36px 0 12px 0;
    width: 66px;
}

.login_view .login_title {
    color: #0078d4;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.login_view .login_subtitle {
    color: #201f1e;
}

.login_option .login_button {
    border: 1px solid #0078d4;
    border-radius: 4px;
    box-sizing: border-box;
    color: #0078d4;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 16px;
    width: 100%;
}

.login_panel .login_help {
    color: #0078d4;
    font-size: 12px;
    font-weight: 600;
    margin-top: 8px;
}

.login_view button {
    padding: 0px;
}

button {
    font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system, system-ui, Roboto, "Helvetica Neue",
        sans-serif;
    font-size: 12px;
    background-color: transparent;
    border-width: 0;
}

.signout_button {
    width: 246px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #ffffff;
    border: 1px solid #0078d4;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    color: #0078d4;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.signout_button label {
    cursor: pointer;
}

.upload_button {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    color: #0078d4;
    font-weight: 600;
    line-height: 16px;
    cursor: pointer;
}

.home_view {
    z-index: 100;
}

.app_panel {
    padding-top: 64px;
    z-index: 0;
}

.app_panel_unsigned {
    padding-top: 8px;
    z-index: 0;
}

.app_group_header {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;
}

.app_group_header label {
    cursor: pointer;
}

.app_table {
    display: table;
}

.app_table_row {
    display: table-row;
}

.app_table_cell:hover,
.app_table_cell:focus {
    background-color: #f1f1f1;
    cursor: pointer;
}

.app_table_cell {
    display: table-cell;
    font-size: 12px;
}

.app_button {
    width: 131px;
    height: 40px;
    padding: 8px 0px 8px 20px;
    display: flex;
    font-size: 24px;
    font-weight: 0;
    cursor: pointer;
}

.app_name {
    font-size: 12px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 4px;
    cursor: pointer;
}

.ms-BrandIcon--icon48 {
    height: 24px;
    width: 24px;
}

/* Office.com appIcon Color Palette */
.outlook_color_fix {
    color: rgb(43, 122, 218);
}

.excel_color_fix {
    color: rgb(33, 115, 70);
}

.oneDrive_color_fix {
    color: rgb(0, 120, 215);
}

.word_color_fix {
    color: rgb(43, 87, 154);
}

.powerpoint_color_fix {
    color: rgb(183, 71, 42);
}

.oneNote_color_fix {
    color: rgb(119, 25, 170);
}

.sway_color_fix {
    color: rgb(0, 130, 114);
}

.sharepoint_color_fix {
    color: rgb(43, 122, 218);
}

.teams_color_fix {
    color: rgb(87, 89, 178);
}

.action_panel {
    z-index: 100;
}

/* Used for New and Open Menus */
.action_group {
    text-align: left;
    padding: 24px 16px 4px 16px;
}

/* Used for Settings menu */
.settings_group {
    height: 104px;
    text-align: left;
    align-items: left;
}

.profile_panel {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    height: 32px;
    padding: 16px 16px 16px 20px;
    position: absolute;
    width: calc(100% - 36px);
    z-index: 101;
}

.settings_button {
    align-items: center;
    display: flex;
    font-size: 13px;
    height: 22px;
    justify-content: center;
    justify-self: right;
    padding: 0;
    width: 22px;
    min-width: 22px;
}

.account_panel {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.108), 0px 6.4px 14.4px rgba(0, 0, 0, 0.132);
    box-sizing: border-box;
    padding: 8px;
    position: absolute;
    top: 64px;
    width: 100%;
    z-index: 50;
}

.profile_name {
    box-sizing: border-box;
    flex-grow: 1;
    padding-left: 14px;
    padding-right: 6px;
    overflow: hidden;
}

.account_name {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.account_email {
    color: #605e5c;
    cursor: pointer;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.account_links_container {
    padding: 0 8px 16px 8px;
}

.account_link {
    color: #0078d4;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    padding: 0 4px;
}

.account_button {
    font-size: 16px;
    cursor: pointer;
}

.profile_button {
    background-color: #999999;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    height: 32px;
    width: 32px;
    min-width: 32px;
}

.profile_circle_inner {
    position: relative;
    top: 50%;
    left: 6px;
    right: 6px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: bold;
}

.profile_picture {
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
}

.mru_panel {
    width: 100%;
    z-index: 0;
    margin-top: 20px;
}

.mru_container {
    padding-left: 20px;
    padding-right: 20px;
}

.mru_container:hover,
.mru_container:focus {
    background-color: #f1f1f1;
}

.mru_message_panel {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
}

.mru_message_content {
    padding: 12px 20px 12px 20px;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    color: #605e5c;
}

.mru_header {
    height: 28px;
}

.mru_label {
    font-size: 16px;
    width: 100px;
    padding: 0px 20px 9px 20px;
    font-weight: 600;
    float: left;
}

.mru_view_more {
    width: 122px;
    padding: 5px 24px 13px 20px;
    display: inline-block;
    color: #0078d4;
    cursor: pointer;
    font-size: 10px;
}

.mru_view_more .ms-Icon {
    float: right;
    padding-top: 3px;
}

.mru_view_more label {
    cursor: pointer;
}

.list_row {
    display: flex;
    cursor: pointer;
    width: 100%;
}

.list_image {
    padding-top: 8px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

/* spacer between icon and filename */
.list_middle {
    width: 11px;
}

.list_end {
    height: 40px;
    width: 192px;
}

/* Use a different container for the open list because the strings can wrap */
.list_end_open {
    padding-bottom: 20px;
    display: flex;
}

.mru_name {
    padding-top: 12px;
    font-size: 12px;
    left: 0;
    right: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.open_local_panel {
    width: 100%;
    height: 28px;
    padding-bottom: 16px;
    z-index: 0;
}

/* Menu animations */
.menu-switch-animation.ng-enter,
.menu-switch-animation.ng-leave {
    -webkit-transition: 200ms ease-in-out all;
    -moz-transition: 200ms ease-in-out all;
    -o-transition: 200ms ease-in-out all;
    transition: 200ms ease-in-out all;
}

.menu-switch-animation.ng-enter {
    top: -30px;
    z-index: 26;
}

.menu-switch-animation.ng-leave {
    top: 64px;
    z-index: 24;
}

.menu-switch-animation.ng-enter.ng-enter-active {
    top: 64px;
    z-index: 26;
}

.menu-switch-animation.ng-leave.ng-leave-active {
    top: -30px;
    z-index: 24;
}

/* End Menu animations */

/* MRU Loading animations */
.animate-repeat {
    list-style: none;
    box-sizing: border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    transition: all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity: 0;
    max-height: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 40px;
}

/* End MRU Loading animations */

/* Editor specific */

/* Editor settings */

.editor_group_header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 14px 0;
    padding: 0 20px 0 16px;
}

.editor_settings_button {
    align-items: center;
    display: flex;
    font-size: 16px;
    height: 22px;
    justify-content: center;
    width: 22px;
}

p.editor_wrappable {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

/* End Editor settings */

/* Proofing Language */

.proofing_language_container {
    margin: 20px 0 16px 0;
}

.language_tags_container {
    display: flex;
}

.language_tags_container .tags_container {
    flex-grow: 1;
}

.language_tags_container .chevron_container {
    align-items: center;
    display: flex;
}

.chevron_container .chevron_button {
    height: 100%;
    padding: 0 4px;
}

.editor_subheading {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
}

.editor_subheading.disabled {
    color: #797775;
}

button.editor_proofing_button {
    align-items: center;
    background-color: #f3f2f1;
    border-radius: 2px;
    display: inline-flex;
    height: 22px;
    justify-content: center;
    margin: 2px 4px 2px 0;
    padding: 0 8px;
}

@media screen and (forced-colors: active) {
    button.editor_proofing_button {
        border: 1px solid highlight;
    }
}

.proofing_language_container button:last-of-type {
    margin-right: 0;
}

button.editor_proofing_button p {
    font-size: 12px;
    margin: 0;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* End Proofing Language */

/* Toggle */

.editor_toggle_line {
    padding: 0 16px;
}

.editor_toggle {
    align-items: center;
    display: flex;
    height: 20px;
    margin: 14px 0;
}

.editor_toggle_description {
    box-sizing: border-box;
    color: #201f1e;
    font-size: 12px;
    overflow: hidden;
    padding-right: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 40px);
}

.editor_toggle_description.disabled {
    color: #605e5c;
}

.editor_icon {
    position: absolute;
    left: 226px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    color: #605e5c;
}

.editor_toggle_field {
    position: absolute;
    width: 40px;
    height: 20px;
    left: calc(50% - 40px / 2 + 91px);
    top: calc(50% - 20px / 2);
}

.tooltip {
    box-sizing: content-box;
    position: relative;
}

.tooltip .tooltip_text {
    border-radius: 2px;
    box-shadow: 1px 3px 8px 2px #d3d3d3;
    opacity: 0;
    position: absolute;
    transition: opacity 200ms;
    visibility: hidden;
    z-index: 1;
}

@media screen and (forced-colors: active) {
    .tooltip .tooltip_text {
        border: 1px solid windowtext;
    }
}

.tooltip.bottom .tooltip_text {
    bottom: 125%;
}

.tooltip.top .tooltip_text {
    top: calc(100% + 12px);
}

.tooltip .tooltip_content {
    background-color: #ffffff;
    border-radius: 2px;
    color: #000000;
    font-size: 12px;
    padding: 10px;
    position: relative;
    text-align: left;
    z-index: 2;
}

.tooltip .tooltip_text::after {
    box-shadow: 1px 3px 8px 2px #d3d3d3;
    background-color: #ffffff;
    content: "";
    height: 14px;
    left: 50%;
    margin: -7px 0 0 -7px;
    position: absolute;
    transform: rotate(45deg);
    width: 14px;
    z-index: 1;
}

.tooltip.bottom .tooltip_text::after {
    top: 100%;
}

.tooltip.top .tooltip_text::after {
    top: 0;
}

@media screen and (forced-colors: active) {
    .tooltip .tooltip_text::after {
        border: 1px solid;
        border-color: windowtext;
    }
}

.tooltip_text.visible {
    opacity: 1;
    visibility: visible;
}

.switch {
    position: relative;
    width: 40px;
    height: 20px;
}

.switch input {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    margin: 0;
    width: 40px;
    height: 20px;
}

.slider {
    background-color: transparent;
    border: 1px solid #605e5c;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    -ms-high-contrast-adjust: none;
}

.slider.animations_enabled {
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #0078d4;
    border-color: #0078d4;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0078d4;
}

input:checked:hover + .slider {
    background-color: rgb(0, 90, 158);
    border-color: transparent;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

input:disabled + .slider {
    border: 1px solid #c8c6c4;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: default;
}

input:disabled:checked + .slider {
    background-color: #c8c6c4;
}

/* Rounded sliders */

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    background-color: #605e5c;
    bottom: 3px;
    content: "";
    height: 12px;
    left: 3px;
    position: absolute;
    width: 12px;
}

.slider.round.animations_enabled:before {
    transition: 300ms;
}

input:hover + .slider.round:before {
    background-color: black;
}

input:checked + .slider.round:before {
    background-color: white;
}

input:disabled + .slider.round:before {
    background: #c8c6c4;
}

input:disabled:checked + .slider.round:before {
    background-color: #f3f2f1;
}

.slider.round:before {
    border-radius: 50%;
}

@media screen and (forced-colors: active) {
    .slider {
        background-color: window;
        border-color: windowtext;
    }

    .slider:before {
        background-color: windowtext;
    }

    input:checked:hover + .slider {
        background-color: window;
    }

    input:checked + .slider:before {
        background-color: highlighttext;
    }

    input:checked + .slider {
        background-color: highlight;
        border-color: highlight;
    }

    input:hover + .slider.round {
        border-color: highlight;
    }

    input:checked:hover + .slider.round:before {
        background-color: highlight;
    }

    input:hover + .slider.round:before {
        background-color: highlight;
    }

    input:disabled + .slider {
        background: window;
        border-color: graytext;
    }

    input:disabled:checked + .slider,
    input:disabled:checked:hover + .slider {
        background-color: #c8c6c4;
        border-color: graytext;
    }

    input:disabled + .slider.round:before,
    input:disabled:hover + .slider.round:before,
    input:disabled:checked + .slider.round:before,
    input:disabled:checked:hover + .slider.round:before {
        background-color: graytext;
    }
}

/* End Toggle */

/* Disable/enable editor */

.editor_disabled {
    margin: 16px 0;
    padding: 0 16px;
}

.editor_onoff {
    margin: 20px 0 16px 0;
    padding: 0 16px;
}

.truncate {
    max-width: 100%;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.editor_onoff_button {
    color: #0078d4;
    font-size: 12px;
    font-weight: 600;
    padding: 0px;
}

.editor_enable {
    color: #605e5c;
    margin: 20px 0;
    padding: 0 16px;
}

.editor_login_employee_text {
    font-size: 12px;
    color: #797775;
    padding-bottom: 20px;
}

.editor_enable_text {
    font-size: 12px;
    color: #605e5c;
}

.editor_site_blocked {
    margin: 20px 0;
    padding: 0 16px;
}

.editor_site_blocked_text {
    font-size: 12px;
    color: #605e5c;
    margin: 0;
}

/* End enable/disable editor */

/* Go premium */

.editor_go_premium {
    background: #f3f2f1;
    margin-top: 16px;
    padding: 0 2px 2px 2px;
    transition: background-color 300ms;
}

.editor_go_premium:hover {
    background-color: #edebe9;
}

.editor_go_premium_button {
    align-items: center;
    color: #2e6ac5;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    height: 32px;
    justify-content: center;
    width: 100%;
}

.editor_go_premium_button .ms-Icon {
    font-size: 16px;
    margin-right: 8px;
}

/* End go premium */

/* Basic experience section */

.basic_login_label {
    margin: 0;
    text-align: center;
    padding: 0px 30px 10px 30px;
}

.basic_login_button {
    background-color: #0078d4;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    width: calc(100% - 30px);
    margin: 0px 15px 0px 15px;
}

.basic_login_help {
    color: #0078d4;
    font-size: 12px;
    font-weight: 14px;
    text-align: center;
    width: calc(100% - 30px);
    margin: 10px 15px 0px 15px;
}

.basic_login_divider {
    margin: 15px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

/* End basic experience section */

/* Start beta experience section */
.editor_beta_body {
    margin: 0;
    padding: 0px 16px 10px 16px;
}

.editor_beta_feedback {
    color: #0078d4;
    font-size: 12px;
    font-weight: 600;
    margin: 0px 0px 0px 12px;
}

/* End beta experience section */
